body {
    background-color: white;
    color: #343A40;
}

.dark-mode {
    background-color: #343A40;
    color: white;
}

.container-fluid {
    position: relative;
}

.btn {
    position: relative;
    top: 10px;
    right: 10px;
}

.dark-mode blockquote, figcaption {
    color: black;
}

/* Light mode styles for hr */
.light-mode hr {
    border-color: #343A40;
}

/* Dark mode styles for hr */
.dark-mode hr {
    border-color: white;
}

.navbar {
    border-bottom: 2px solid #333; /* Add a bottom border */
    /* OR */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

li {
    list-style: none;
}

/* Zitat */

.quote {
    margin: 0;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
    max-width: 500px;
  }
  .quote figcaption,
  .quote blockquote {
    margin: 1em;
  }

/* Google Calendar */
@media (max-width: 550px) {
    .big-container {
        display: none;
    }
 }
 @media (min-width: 550px) {
    .small-container {
        display: none;
    }
 }
 /* Responsive iFrame */
 .responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
 }
 .responsive-iframe-container iframe,   
 .vresponsive-iframe-container object,  
 .vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

 /* App Symbol Kasten */
 .app-symbol:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
 }