body {
    background-color: white;
    color: #343A40;
}

.dark-mode {
    background-color: #343A40;
    color: white;
}

/* Light mode styles for hr */
.light-mode hr {
    border-color: #343A40;
}

/* Dark mode styles for hr */
.dark-mode hr {
    border-color: white;
}

.navbar {
    border-bottom: 2px solid #333; /* Add a bottom border */
    /* OR */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

#calendar-container {
    max-width: 1800px; /* Adjust the max-width to your desired size */
    margin: 0 auto; /* Center the calendar container */
}

#google-container {
    max-width: 600px;
    margin: 0 auto;
}

.ggl-container {
    margin-bottom: 20px;
}

li {
    list-style: none;
}